@model aspPro2.Models.Games

@{
    ViewData["Title"] = "SearchedGames";
    Layout = "~/Views/Shared/_NewLayout1.cshtml";
}

@* <h1>SearchedGames</h1>

<div>
    <h4>Games</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/searchedStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>


<div class="game_card">
    <div class="card-header">
        <div class="pic">
            <img src="~/images/Elden Ring.jpg" id="backImg" />

        </div>
        <div class="name">@Html.DisplayFor(model => model.Name)</div>
        <div class="desc">"Elden Ring" is an expansive open-world action RPG developed by FromSoftware, 
            combining intricate lore from George R.R. Martin with challenging gameplay and exploration</div>
        <div class="btn">
            <a href="#" class="DownloadGame"><i class="fa-solid fa-download"></i> Download</a>

        </div>
    </div>
    <div class="card-footer">
        <div class="numbers">
            <div class="item">
                <span>1.12.2</span>
                Patch
            </div>
            <div class="border"></div>
            <div class="item">
                <span>130</span>
                Posts
            </div>
            <div class="border"></div>
            <div class="item">
                <span>20M</span>
                Downloads
            </div>

        </div>
    </div>
</div>

<script>
    var gameID = "@Model.Id";
    var gameName = "@Model.Name";

    var htmlimg = "/images/" + gameName + ".jpg";
    var imgPath = '/images/'+gameID+'.jpg';
    
    document.getElementById('backImg').src = htmlimg;
    document.body.style.backgroundImage = 'url("' + imgPath + '")';
</script>
